.presentation img {
  width: 3em;
  height: auto;
  margin: 0 !important;
}
.presentation p {
  font-size: 0.8em !important;
}
.presentation h3 {
  margin: 2.5em 0;
}

.presentation .init {
  font-size: 0.6em !important;
}

.antecedentes ul li {
  margin: 25px 0 !important;
}

.images .plants {
  width: 35%;
}

.images .surcos {
  width: 55%;
}

.roc-curve {
  width: 70%;
}
